<nav
  class="navbar navbar-dark bg-dark navbar-expand-lg"
>
  <div class="container-fluid">
    <!-- Boton Home-->
    <a class="navbar-brand home p-1 rounded" style="margin-left: 65px">Home</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Botones de navegacion -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav" style="float: right">
        <li class="nav-item p-1 rounded">
          <a class="nav-link" href="books"> Libros </a>
        </li>
        
      </ul>
    </div>
  </div>

  <div class="container"></div>
</nav>


<router-outlet></router-outlet>